# Byte-compiled / optimized / DLL files
__pycache__/


# Virtual environment
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Package builds
build/
dist/
build/
*.egg-info/
pip-wheel-metadata/


# PyCharm settings
.idea/

# OS-specific files
.DS_Store

